In [52]:
import os
import pandas as pd
import numpy as np

In [53]:
df = pd.read_csv("dataset.csv")

In [54]:
np.where(pd.isnull(df))

(array([    0,     0,     0, ..., 42652, 42652, 42652]),
 array([ 11,  12,  13, ..., 149, 150, 151]))

In [55]:
np.where(pd.isnull(df.Bank))

(array([  117,   565,   588,   611,   626,   641,   752,   764,   769,
          770,   819,   830,   853,   866,   898,   919,   922,   965,
          976,   998,  1001,  1299,  1570,  1621,  2331,  2915,  2942,
         3253,  3269,  3840,  3917,  4051,  4182,  4307,  5119,  5180,
         5291,  5343,  5500,  5529,  5546,  5560,  5711,  5719,  5734,
         5744,  5757,  5773,  5801,  5820,  5837,  5861,  5875,  5880,
         5926,  5932,  6297,  8305,  8342,  8395,  8890,  9222,  9240,
         9905, 10574, 10581, 10687, 12722, 12866, 12981, 12984, 13034,
        13081, 13205, 13211, 13292, 14491, 14505, 14540, 14542, 14631,
        14636, 14721, 14751, 14813, 14932, 14961, 14964, 14995, 16059,
        16078, 16121, 16213, 16269, 16299, 16334, 16872, 17092, 17142,
        17778, 17796, 17807, 17808, 17810, 17994, 18030, 18038, 18098,
        18124, 18133, 18187, 18195, 18214, 18224, 18250, 18358, 18364,
        18487, 18525, 18701, 18876, 18923, 18925, 18992, 19114, 19162,
        19165, 19622, 19964, 20113, 20316, 20328, 20373, 20381, 20384,
        20396, 20406, 20414, 20427, 20434, 20452, 20462, 20960, 20983,
        20985, 20993, 20998, 21193, 21206, 21281, 21339, 21512, 21722,
        22099, 22500, 22530, 22547, 22835, 22934, 22997, 23183, 23349,
        23384, 23442, 23472, 23691, 24339, 24365, 24610, 24788, 25017,
        25031, 25409, 25412, 25416, 25457, 25491, 25747, 25748, 25846,
        26062, 26741, 26746, 26758, 26765, 26771, 26782, 26795, 26803,
        26839, 26845, 26855, 26874, 26876, 26891, 27151, 27310, 27567,
        28036, 28509, 28585, 28610, 28674, 28718, 29452, 29526, 29598,
        29633, 29763, 29826, 29976, 30077, 30149, 30314, 30315, 30682,
        31345, 31379, 31386, 31397, 31412, 31870, 32201, 32458, 32623,
        32625, 32763, 33664, 34323, 34556, 34559, 35464, 35478, 36579,
        36595, 37157, 37217, 37388, 37494, 37907, 38525, 39141, 39397,
        39500, 39704, 39752, 39758, 39760, 39769, 39771, 39871, 39883,
        39892, 39894, 40023, 40069, 40289, 40841, 41075, 41201, 41202,
        41401, 41702, 41705, 41766]),)

In [56]:
new_df = df.dropna(subset=['Bank'])

In [57]:
new_df = new_df.dropna(subset=['Most frequently used Bank'])

In [58]:
new_df.RatQOS.fillna("No", inplace=True)

In [59]:
new_df.RatFS.fillna("No", inplace=True)
new_df.RatIR.fillna("No", inplace=True)
new_df.RatERSA.fillna("No", inplace=True)
new_df.RatPOBR.fillna("No", inplace=True)
new_df.RatRFF.fillna("No", inplace=True)

In [60]:
new_df.ATMproximity.fillna("No", inplace=True)
new_df.ATMqon.fillna("No", inplace=True)
new_df.ATMsecurity.fillna("No", inplace=True)
new_df.ATMros.fillna("No", inplace=True)

In [61]:
new_df.Device1.fillna("No", inplace=True)
new_df.Device2.fillna("No", inplace=True)
new_df.Device3.fillna("No", inplace=True)
new_df.Device4.fillna("No", inplace=True)

In [62]:
new_df = new_df.dropna(subset=['Cshwit2', 'Cshdep2','Fndtrf2','Balenq2','mkgcmp2','Mkgpay2','Gtloan2','Gtfnad2','Bkfxdp2' ])

In [63]:
new_df[["impcc1a","cc1a","impcc1b","cc1b","impcc2","cc2","impcc3","cc3","impcc4","cc4","impcc4b","cc4b","qosbrn1i","qosbrn1","qosbrn2i","qosbrn2","qosbrn3i","qosbrn3","tat1i","tat1","tat2i","tat2","tat3i","tat3","qosatm1","qosatm1i","qosatm2i","qosatm2","qosatm3i","qosatm3","qosatm4i","qosatm4","qosmob1i","qosmob1","qosmob2i","qosmob2","qosmob3i","qosmob3","qosmob4i","qosmob4","qosmob5i","qosmob5","qosmob6i","qosmob6","qosint1i","qosint1","qosint2i","qosint2","qosint3i","qosint3","qosint4i","qosint4","qosint5i","qosint5","qosint6i","qosint6","qoscct1i","qoscct1","qoscct2i","qoscct2","qoscct3i","qoscct3","qossm1i","qossm1","qossm2i","qossm2","qoscad1i","qoscad1","qoscad2i","qoscad2","qoscad3i","qoscad3","qoscad4i","qoscad4","acci","acc","infi","inf","prd1i","prd1","prd2i","prd2","eas1i","eas1","eas2i","eas2","qosci","qosc"]] = new_df[["impcc1a","cc1a","impcc1b","cc1b","impcc2","cc2","impcc3","cc3","impcc4","cc4","impcc4b","cc4b","qosbrn1i","qosbrn1","qosbrn2i","qosbrn2","qosbrn3i","qosbrn3","tat1i","tat1","tat2i","tat2","tat3i","tat3","qosatm1","qosatm1i","qosatm2i","qosatm2","qosatm3i","qosatm3","qosatm4i","qosatm4","qosmob1i","qosmob1","qosmob2i","qosmob2","qosmob3i","qosmob3","qosmob4i","qosmob4","qosmob5i","qosmob5","qosmob6i","qosmob6","qosint1i","qosint1","qosint2i","qosint2","qosint3i","qosint3","qosint4i","qosint4","qosint5i","qosint5","qosint6i","qosint6","qoscct1i","qoscct1","qoscct2i","qoscct2","qoscct3i","qoscct3","qossm1i","qossm1","qossm2i","qossm2","qoscad1i","qoscad1","qoscad2i","qoscad2","qoscad3i","qoscad3","qoscad4i","qoscad4","acci","acc","infi","inf","prd1i","prd1","prd2i","prd2","eas1i","eas1","eas2i","eas2","qosci","qosc"]].fillna(value=0)

In [64]:
new_df[["Payuticash","Payintcash","Paycabcash","Payuti","Payint","Paycab","Mig1","Mig2","Mig3"]]=new_df[["Payuticash","Payintcash","Paycabcash","Payuti","Payint","Paycab","Mig1","Mig2","Mig3"]].fillna(value="No")

In [65]:
new_df.Payuticash

0         No
1         No
2        Yes
3        Yes
4        Yes
5        Yes
6         No
7         No
8         No
9         No
10       Yes
11       Yes
12        No
13        No
14        No
15        No
16        No
19        No
20        No
21        No
22        No
23        No
24        No
25        No
26        No
27        No
28        No
29        No
30        No
31        No
        ...
42623    Yes
42624    Yes
42625    Yes
42626    Yes
42627    Yes
42628    Yes
42629    Yes
42630     No
42631    Yes
42632    Yes
42633    Yes
42634    Yes
42635     No
42636     No
42637     No
42638    Yes
42639    Yes
42640    Yes
42641    Yes
42642     No
42643     No
42644    Yes
42645    Yes
42646     No
42647    Yes
42648    Yes
42649    Yes
42650     No
42651     No
42652     No
Name: Payuticash, Length: 38839, dtype: object

In [168]:
new_df.to_csv('kpmg_clean.csv')

In [157]:
new_df.Rec.unique()

array(['Sometimes will', '0', 'Absolutely will', 'Often will',
       'No Response', 'Absolutely will not'], dtype=object)

In [68]:
new_df.columns

Index(['Quest No', 'Age', 'Gender', 'Employment Category', 'Education',
       'Income', 'Location', 'Bank', 'No of Years ',
       'Most frequently used Bank',
       ...
       'Payint', 'Paycab', 'Mig1', 'Mig2', 'Mig3', 'Rec', 'Changeplan',
       'FromBank', 'ToBank', 'ChangeReasons'],
      dtype='object', length=152)

In [69]:
new_df.columns

Index(['Quest No', 'Age', 'Gender', 'Employment Category', 'Education',
       'Income', 'Location', 'Bank', 'No of Years ',
       'Most frequently used Bank',
       ...
       'Payint', 'Paycab', 'Mig1', 'Mig2', 'Mig3', 'Rec', 'Changeplan',
       'FromBank', 'ToBank', 'ChangeReasons'],
      dtype='object', length=152)

In [72]:
new_df.columns[new_df.isnull().any()].tolist()

['No of Years ', 'MostfreqATM', 'FromBank', 'ToBank', 'ChangeReasons']

In [73]:
df.columns[df.isnull().any()].tolist()

['Quest No',
 'Age',
 'Gender',
 'Employment Category',
 'Education',
 'Income',
 'Location',
 'Bank',
 'No of Years ',
 'Most frequently used Bank',
 'RatQOS',
 'RatFS',
 'RatIR',
 'RatERSA',
 'RatPOBR',
 'RatRFF',
 'FreqBra',
 'FreqATM',
 'FreqPOS',
 'FreqInt',
 'FreqMob',
 'FreqUSSD',
 'FreqTel',
 'MostfreqATM',
 'ATMproximity',
 'ATMqon',
 'ATMsecurity',
 'ATMros',
 'Device1',
 'Device2',
 'Device3',
 'Device4',
 'Cshwit',
 'Cshdep',
 'Fndtrf',
 'Balenq',
 'Mkgcmp',
 'Mkgpay',
 'Gtloan',
 'Gtfnad',
 'Bkfxdp',
 'Cshwit2',
 'Cshdep2',
 'Fndtrf2',
 'Balenq2',
 'mkgcmp2',
 'Mkgpay2',
 'Gtloan2',
 'Gtfnad2',
 'Bkfxdp2',
 'impcc1a',
 'cc1a',
 'impcc1b',
 'cc1b',
 'impcc2',
 'cc2',
 'impcc3',
 'cc3',
 'impcc4',
 'cc4',
 'impcc4b',
 'cc4b',
 'qosbrn1i',
 'qosbrn1',
 'qosbrn2i',
 'qosbrn2',
 'qosbrn3i',
 'qosbrn3',
 'tat1i',
 'tat1',
 'tat2i',
 'tat2',
 'tat3i',
 'tat3',
 'qosatm1',
 'qosatm1i',
 'qosatm2i',
 'qosatm2',
 'qosatm3i',
 'qosatm3',
 'qosatm4i',
 'qosatm4',
 'qosmob1i',
 'qosmob1',
 'qosmob2i',
 'qosmob2',
 'qosmob3i',
 'qosmob3',
 'qosmob4i',
 'qosmob4',
 'qosmob5i',
 'qosmob5',
 'qosmob6i',
 'qosmob6',
 'qosint1i',
 'qosint1',
 'qosint2i',
 'qosint2',
 'qosint3i',
 'qosint3',
 'qosint4i',
 'qosint4',
 'qosint5i',
 'qosint5',
 'qosint6i',
 'qosint6',
 'qoscct1i',
 'qoscct1',
 'qoscct2i',
 'qoscct2',
 'qoscct3i',
 'qoscct3',
 'qossm1i',
 'qossm1',
 'qossm2i',
 'qossm2',
 'qoscad1i',
 'qoscad1',
 'qoscad2i',
 'qoscad2',
 'qoscad3i',
 'qoscad3',
 'qoscad4i',
 'qoscad4',
 'acci',
 'acc',
 'infi',
 'inf',
 'prd1i',
 'prd1',
 'prd2i',
 'prd2',
 'eas1i',
 'eas1',
 'eas2i',
 'eas2',
 'qosci',
 'qosc',
 'Payuticash',
 'Payintcash',
 'Paycabcash',
 'Payuti',
 'Payint',
 'Paycab',
 'Mig1',
 'Mig2',
 'Mig3',
 'Rec',
 'Changeplan',
 'FromBank',
 'ToBank',
 'ChangeReasons']

In [74]:
df

,Quest No,Age,Gender,Employment Category,Education,Income,Location,Bank,No of Years,Most frequently used Bank,...,Payint,Paycab,Mig1,Mig2,Mig3,Rec,Changeplan,FromBank,ToBank,ChangeReasons
0,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank A,12.0,Bank A,...,NaN,NaN,NaN,NaN,NaN,Sometimes will,No,NaN,NaN,NaN
1,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,Bank M,6.0,Bank A,...,NaN,NaN,NaN,NaN,NaN,0,No,NaN,NaN,NaN
2,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank J,2.0,Bank B,...,NaN,NaN,Yes,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
3,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,Bank B,NaN,Bank B,...,NaN,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN
4,KAN/2015/04/061,21-30,Male,Private Sector Employee,Bachelor's Decree,"Below N50,000",Kano,Bank C,5.0,Bank C,...,Yes,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN
5,KAN/2015/04/062,21-30,Male,Student,Secondary school leaving certificate,"Below N50,000",Kano,Bank D,8.0,Bank D,...,NaN,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN
6,LAG/2015/001/153,18-20,Female,Student,Bachelor's Decree,"Below N50,000",Lagos,Bank H,5.0,Bank E,...,Yes,NaN,NaN,Yes,NaN,No Response,No,NaN,NaN,NaN
7,LAG/2015/001/153,18-20,Female,Student,Bachelor's Decree,"Below N50,000",Lagos,Bank C,2.0,Bank E,...,Yes,NaN,NaN,Yes,NaN,0,No,NaN,NaN,NaN
8,LAG/2015/001/153,18-20,Female,Student,Bachelor's Decree,"Below N50,000",Lagos,Bank E,4.0,Bank E,...,Yes,NaN,NaN,Yes,NaN,0,No,NaN,NaN,NaN
9,LAG/2015/001/153,18-20,Female,Student,Bachelor's Decree,"Below N50,000",Lagos,Bank I,1.0,Bank E,...,Yes,NaN,NaN,Yes,NaN,0,No,NaN,NaN,NaN
10,ABE/2015/002/051,18-20,Female,Student,OND/HND,No Response,Abeokuta,Bank F,2.0,Bank F,...,NaN,NaN,NaN,Yes,NaN,Absolutely will,No,NaN,NaN,NaN
11,ABE/2015/002/051,18-20,Female,Student,OND/HND,No Response,Abeokuta,Bank J,3.0,Bank F,...,NaN,NaN,NaN,Yes,NaN,0,No,NaN,NaN,NaN
12,ABE/2015/002/052,18-20,Female,Student,OND/HND,"Below N50,000",Abeokuta,Bank C,1.0,Bank C,...,NaN,NaN,NaN,Yes,NaN,Absolutely will,No,NaN,NaN,NaN
13,ABE/2015/002/053,21-30,Female,Student,OND/HND,"Below N50,000",Abeokuta,Bank B,6.0,Bank C,...,Yes,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
14,ABE/2015/002/053,21-30,Female,Student,OND/HND,"Below N50,000",Abeokuta,Bank C,2.0,Bank C,...,Yes,NaN,NaN,NaN,NaN,Often will,No,NaN,NaN,NaN
15,ABE/2015/002/054,21-30,Female,Student,OND/HND,No Response,Abeokuta,Bank C,1.0,Bank C,...,Yes,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
16,ABE/2015/002/054,21-30,Female,Student,OND/HND,No Response,Abeokuta,Bank E,2.0,Bank C,...,Yes,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
17,ABE/2015/002/055,21-30,Female,Self Employed,Bachelor's Decree,"Below N50,000",Abeokuta,Bank D,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
18,ABE/2015/002/056,21-30,Female,Others,OND/HND,"Below N50,000",Abeokuta,Bank B,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
19,ABE/2015/002/057,18-20,Female,Student,OND/HND,"Below N50,000",Abeokuta,Bank H,2.0,Bank G,...,NaN,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
20,ABE/2015/002/059,21-30,Female,Student,OND/HND,"Below N50,000",Abeokuta,Bank E,NaN,Bank B,...,NaN,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
21,ABE/2015/002/059,21-30,Female,Student,OND/HND,"Below N50,000",Abeokuta,Bank B,NaN,Bank B,...,NaN,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
22,ABE/2015/002/060,18-20,Female,Student,OND/HND,"Below N50,000",Abeokuta,Bank A,4.0,Bank A,...,NaN,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
23,ABE/2015/002/061,21-30,Male,Student,OND/HND,"Below N50,000",Abeokuta,Bank B,2.0,Bank B,...,NaN,NaN,NaN,Yes,NaN,No Response,No,NaN,NaN,NaN
24,ABE/2015/002/062,21-30,Female,Student,OND/HND,"Below N50,000",Abeokuta,Bank C,5.0,Bank C,...,NaN,NaN,NaN,NaN,NaN,Often will,No,NaN,NaN,NaN
25,ABE/2015/002/063,18-20,Male,Student,OND/HND,"Below N50,000",Abeokuta,Bank H,2.0,Bank H,...,NaN,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
26,ABE/2015/002/063,18-20,Male,Student,OND/HND,"Below N50,000",Abeokuta,Bank F,1.0,Bank H,...,NaN,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
27,ABE/2015/002/063,18-20,Male,Student,OND/HND,"Below N50,000",Abeokuta,Bank N,2.0,Bank H,...,NaN,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
28,ABE/2015/002/064,21-30,Female,Self Employed,OND/HND,"Below N50,000",Abeokuta,Bank C,1.0,Bank C,...,NaN,NaN,NaN,NaN,NaN,Often will,No,NaN,NaN,NaN
29,ABE/2015/002/065,18-20,Female,Student,OND/HND,"Below N50,000",Abeokuta,Bank D,6.0,Bank D,...,NaN,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42623,YOL/2015/002/102,21-30,Male,Civil/Public Servant,Bachelor's Decree,"N101,000 - N250,000",Yola,Bank C,4.0,Bank C,...,NaN,Yes,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN
42624,YOL/2015/002/102,21-30,Male,Civil/Public Servant,Bachelor's Decree,"N101,000 - N250,000",Yola,Bank E,2.0,Bank C,...,NaN,Yes,Yes,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
42625,YOL/2015/002/103,36-40,Male,Civil/Public Servant,OND/HND,"N101,000 - N250,000",Yola,Bank D,11.0,Bank D,...,NaN,Yes,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42626,YOL/2015/002/103,36-40,Male,Civil/Public Servant,OND/HND,"N101,000 - N250,000",Yola,Bank C,3.0,Bank D,...,NaN,Yes,NaN,NaN,Yes,0,No,NaN,NaN,NaN
42627,YOL/2015/002/104,21-30,Female,Civil/Public Servant,OND/HND,"Below N50,000",Yola,Bank J,11.0,Bank B,...,NaN,Yes,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42628,YOL/2015/002/105,36-40,Male,Private Sector Employee,Bachelor's Decree,"N251,000 - N500,000",Yola,Bank L,14.0,Bank L,...,NaN,Yes,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42629,YOL/2015/002/106,31-35,Male,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Yola,Bank C,13.0,Bank C,...,NaN,Yes,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42630,YOL/2015/002/107,31-35,Female,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Yola,Bank D,6.0,Bank D,...,NaN,Yes,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42631,YOL/2015/002/108,21-30,Female,Self Employed,OND/HND,"Below N50,000",Yola,Bank C,7.0,Bank C,...,NaN,NaN,Yes,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
42632,YOL/2015/002/109,21-30,Male,Civil/Public Servant,OND/HND,"Below N50,000",Yola,Bank B,4.0,Bank B,...,Yes,NaN,Yes,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
42633,YOL/2015/002/110,41-60,Female,Civil/Public Servant,Master's Degree,"N251,000 - N500,000",Yola,Bank D,12.0,Bank D,...,NaN,NaN,Yes,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
42634,YOL/2015/002/110,41-60,Female,Civil/Public Servant,Master's Degree,"N251,000 - N500,000",Yola,Bank B,27.0,Bank D,...,NaN,NaN,Yes,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
42635,YOL/2015/002/111,31-35,Male,Civil/Public Servant,OND/HND,"Below N50,000",Yola,Bank B,10.0,Bank B,...,NaN,NaN,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42636,YOL/2015/002/112,31-35,Male,Civil/Public Servant,Bachelor's Decree,"N101,000 - N250,000",Yola,Bank C,6.0,Bank C,...,NaN,NaN,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42637,YOL/2015/002/113,18-20,Male,Private Sector Employee,Master's Degree,"N50,000 - N100,000",Yola,Bank C,8.0,Bank C,...,NaN,Yes,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42638,YOL/2015/002/114,Above 60,Female,Civil/Public Servant,OND/HND,"N101,000 - N250,000",Yola,Bank C,9.0,Bank C,...,NaN,Yes,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42639,YOL/2015/002/115,36-40,Female,Private Sector Employee,Bachelor's Decree,"N50,000 - N100,000",Yola,Bank C,6.0,Bank C,...,NaN,Yes,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42640,YOL/2015/002/116,21-30,Male,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Yola,Bank F,3.0,Bank F,...,NaN,Yes,Yes,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
42641,YOL/2015/002/117,31-35,Male,Student,OND/HND,"N50,000 - N100,000",Yola,Bank C,8.0,Bank C,...,NaN,NaN,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42642,YOL/2015/002/118,21-30,Female,Unemployed,Bachelor's Decree,"Below N50,000",Yola,Bank B,10.0,Bank B,...,NaN,Yes,NaN,NaN,Yes,Often will,No,NaN,NaN,NaN
42643,YOL/2015/002/119,21-30,Male,Self Employed,OND/HND,"Below N50,000",Onitsha,Bank C,7.0,Bank C,...,NaN,Yes,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42644,YOL/2015/002/120,21-30,Female,Student,Bachelor's Decree,"Below N50,000",Onitsha,Bank A,5.0,Bank A,...,NaN,NaN,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42645,YOL/2015/002/121,31-35,Female,Civil/Public Servant,OND/HND,"Below N50,000",Yola,Bank C,11.0,Bank C,...,NaN,Yes,Yes,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
42646,YOL/2015/002/122,Above 60,Male,Retired,OND/HND,"N50,000 - N100,000",Yola,Bank M,21.0,Bank M,...,NaN,NaN,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42647,YOL/2015/002/123,36-40,Male,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Yola,Bank Q,3.0,Bank Q,...,NaN,Yes,NaN,NaN,Yes,Sometimes will,No,NaN,NaN,NaN
42648,YOL/2015/002/124,36-40,Male,Self Employed,OND/HND,"N50,000 - N100,000",Yola,Bank C,11.0,Bank C,...,NaN,Yes,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42649,YOL/2015/002/125,36-40,Male,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Yola,Bank F,5.0,Bank F,...,NaN,Yes,NaN,NaN,Yes,Absolutely will,No,NaN,NaN,NaN
42650,YOL/2015/002/059,18-20,Male,Self Employed,Bachelor's Decree,"N50,000 - N100,000",Yola,Bank C,7.0,Bank C,...,NaN,NaN,NaN,NaN,NaN,Absolutely will,No,NaN,NaN,NaN
42651,YOL/2015/002/034,31-35,Female,Civil/Public Servant,Bachelor's Decree,"Below N50,000",Yola,Bank D,5.0,Bank D,...,Yes,NaN,Yes,NaN,NaN,Absolutely will not,No,NaN,NaN,NaN
42652,YOL/2015/002/034,31-35,Female,Civil/Public Servant,Bachelor's Decree,"Below N50,000",Yola,Bank F,4.0,Bank D,...,Yes,NaN,Yes,NaN,NaN,Often will,No,NaN,NaN,NaN

new_df["No_of_Years"] = new_df["No of Years"]

In [78]:
new_df.describe()

,No of Years,impcc1a,cc1a,impcc1b,cc1b,impcc2,cc2,impcc3,cc3,impcc4,...,prd1i,prd1,prd2i,prd2,eas1i,eas1,eas2i,eas2,qosci,qosc
count,37746.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,...,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000
mean,6.107932,6.796184,4.448364,7.415433,4.745745,7.604161,4.929504,7.707871,4.887716,7.687325,...,6.647082,4.106568,6.837843,3.973738,3.000901,1.907232,2.933598,1.854605,6.778625,3.954968
std,4.770771,3.292512,1.916965,2.931220,1.771212,2.767825,1.643343,2.731526,1.664286,2.913991,...,3.702426,2.258490,3.715315,2.252538,4.020152,2.506230,3.993570,2.479277,3.878772,2.350084
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,5.000000,4.000000,6.000000,4.000000,6.000000,4.000000,6.000000,4.000000,7.000000,...,5.000000,3.000000,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,5.000000,3.000000
50%,5.000000,8.000000,5.000000,8.000000,5.000000,8.000000,5.000000,9.000000,5.000000,9.000000,...,8.000000,5.000000,8.000000,5.000000,0.000000,0.000000,0.000000,0.000000,9.000000,5.000000
75%,8.000000,10.000000,6.000000,10.000000,6.000000,10.000000,6.000000,10.000000,6.000000,10.000000,...,10.000000,6.000000,10.000000,5.000000,7.000000,4.000000,7.000000,4.000000,10.000000,6.000000
max,55.000000,10.000000,7.000000,10.000000,7.000000,10.000000,7.000000,10.000000,7.000000,10.000000,...,10.000000,10.000000,10.000000,7.000000,10.000000,10.000000,10.000000,7.000000,10.000000,7.000000

In [96]:
new_df.columns[new_df.isnull().any()].tolist()

['MostfreqATM', 'FromBank', 'ToBank', 'ChangeReasons']

In [82]:
new_df.Bank.unique()

array(['Bank A', 'Bank M', 'Bank J', 'Bank B', 'Bank C', 'Bank D',
       'Bank H', 'Bank E', 'Bank I', 'Bank F', 'Bank N', 'Bank O',
       'Bank K', 'Bank L', 'Bank Q', 'Bank G', 'Bank P'], dtype=object)

In [87]:
banks = {"Bank A" : 1, "Bank B" : 2, "Bank C" : 3, "Bank D" : 4, "Bank E" : 5, "Bank F" : 6, "Bank G" : 7, "Bank H" : 8,  "Bank I" : 9, "Bank J" : 10, "Bank K" : 11, "Bank L":12,  "Bank M" : 13,  "Bank N" : 14, "Bank O" : 15, "Bank P" : 16, "Bank Q" : 17}

In [88]:
bank_encoded_values = {"Bank" : banks,  "Most frequently used Bank" : banks, "FromBank" : banks, "ToBank": banks}

In [89]:
bank_encoded_values

{'Bank': {'Bank A': 1,
  'Bank B': 2,
  'Bank C': 3,
  'Bank D': 4,
  'Bank E': 5,
  'Bank F': 6,
  'Bank G': 7,
  'Bank H': 8,
  'Bank I': 9,
  'Bank J': 10,
  'Bank K': 11,
  'Bank L': 12,
  'Bank M': 13,
  'Bank N': 14,
  'Bank O': 15,
  'Bank P': 16,
  'Bank Q': 17},
 'FromBank': {'Bank A': 1,
  'Bank B': 2,
  'Bank C': 3,
  'Bank D': 4,
  'Bank E': 5,
  'Bank F': 6,
  'Bank G': 7,
  'Bank H': 8,
  'Bank I': 9,
  'Bank J': 10,
  'Bank K': 11,
  'Bank L': 12,
  'Bank M': 13,
  'Bank N': 14,
  'Bank O': 15,
  'Bank P': 16,
  'Bank Q': 17},
 'Most frequently used Bank': {'Bank A': 1,
  'Bank B': 2,
  'Bank C': 3,
  'Bank D': 4,
  'Bank E': 5,
  'Bank F': 6,
  'Bank G': 7,
  'Bank H': 8,
  'Bank I': 9,
  'Bank J': 10,
  'Bank K': 11,
  'Bank L': 12,
  'Bank M': 13,
  'Bank N': 14,
  'Bank O': 15,
  'Bank P': 16,
  'Bank Q': 17},
 'ToBank': {'Bank A': 1,
  'Bank B': 2,
  'Bank C': 3,
  'Bank D': 4,
  'Bank E': 5,
  'Bank F': 6,
  'Bank G': 7,
  'Bank H': 8,
  'Bank I': 9,
  'Bank J': 10,
  'Bank K': 11,
  'Bank L': 12,
  'Bank M': 13,
  'Bank N': 14,
  'Bank O': 15,
  'Bank P': 16,
  'Bank Q': 17}}

In [90]:
new_df.replace(bank_encoded_values, inplace=True)

In [92]:
new_df.describe()

,Bank,No of Years,Most frequently used Bank,impcc1a,cc1a,impcc1b,cc1b,impcc2,cc2,impcc3,...,prd2i,prd2,eas1i,eas1,eas2i,eas2,qosci,qosc,FromBank,ToBank
count,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,...,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,4113.000000,3937.000000
mean,6.294292,6.076753,5.856793,6.796184,4.448364,7.415433,4.745745,7.604161,4.929504,7.707871,...,6.837843,3.973738,3.000901,1.907232,2.933598,1.854605,6.778625,3.954968,7.081692,5.994412
std,4.544237,4.706729,4.424433,3.292512,1.916965,2.931220,1.771212,2.767825,1.643343,2.731526,...,3.715315,2.252538,4.020152,2.506230,3.993570,2.479277,3.878772,2.350084,4.784016,4.446723
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,3.000000,3.000000,2.000000,5.000000,4.000000,6.000000,4.000000,6.000000,4.000000,6.000000,...,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,5.000000,3.000000,3.000000,3.000000
50%,4.000000,5.000000,4.000000,8.000000,5.000000,8.000000,5.000000,8.000000,5.000000,9.000000,...,8.000000,5.000000,0.000000,0.000000,0.000000,0.000000,9.000000,5.000000,6.000000,4.000000
75%,10.000000,8.000000,8.000000,10.000000,6.000000,10.000000,6.000000,10.000000,6.000000,10.000000,...,10.000000,5.000000,7.000000,4.000000,7.000000,4.000000,10.000000,6.000000,12.000000,8.000000
max,17.000000,55.000000,17.000000,10.000000,7.000000,10.000000,7.000000,10.000000,7.000000,10.000000,...,10.000000,7.000000,10.000000,10.000000,10.000000,7.000000,10.000000,7.000000,17.000000,17.000000

In [94]:
most_freq_value = {"MostfreqATM" : banks}

In [95]:
new_df.replace(most_freq_value, inplace=True)

In [98]:
pd.pivot_table(df,index=["Bank"])

,No of Years,acc,acci,cc1a,cc1b,cc2,cc3,cc4,cc4b,eas1,...,qossm1,qossm1i,qossm2,qossm2i,tat1,tat1i,tat2,tat2i,tat3,tat3i
Bank,,,,,,,,,,,,,,,,,,,,,
Bank A,7.059288,5.215528,8.455206,4.854458,4.971344,5.097478,5.076998,4.927741,4.934957,4.701979,...,4.810745,7.435287,4.726654,7.445269,4.820787,8.267606,4.967994,8.213710,5.036918,8.122398
Bank B,8.101850,5.272507,8.451637,4.901153,5.069565,5.220177,5.143329,4.981721,5.047114,4.839800,...,4.901099,7.370110,4.817610,7.398473,4.785927,8.273236,5.033065,8.232006,4.982178,8.131706
Bank C,5.485359,5.351384,8.510079,5.077212,5.273367,5.396069,5.326511,5.214183,5.250081,4.922117,...,5.052726,7.550933,4.888087,7.575090,5.023595,8.350594,5.248130,8.322439,5.261031,8.207370
Bank D,4.646958,5.184424,8.365333,4.856952,5.085501,5.208238,5.128049,5.076427,5.055017,4.807836,...,4.911585,7.448780,4.776735,7.445278,4.922628,8.274226,5.032292,8.206458,5.109148,8.087578
Bank E,4.267276,5.223582,8.486096,4.901728,5.103158,5.158830,5.153766,5.109808,5.071197,4.783422,...,4.895833,7.513021,4.769841,7.476190,5.039501,8.240125,5.050218,8.115721,5.154334,8.112051
Bank F,6.211632,5.199522,8.388292,4.888952,5.015169,5.061640,5.045179,4.942490,4.949575,4.779221,...,4.794118,7.362745,4.693069,7.325318,4.936394,8.113385,4.931910,8.093480,5.027904,8.005125
Bank G,4.939580,5.301178,8.467190,4.952725,5.151613,5.211170,5.180902,5.111171,5.135253,4.935792,...,4.965340,7.646983,4.843832,7.569554,4.998409,8.354189,5.082781,8.339404,5.164075,8.194102
Bank H,5.322484,5.234874,8.376142,4.923611,5.130187,5.213141,5.184049,5.084607,5.075602,4.859212,...,4.965962,7.505282,4.871749,7.495863,5.004571,8.260016,5.068074,8.219228,5.110223,8.095894
Bank I,10.149956,5.301556,8.607004,5.031579,5.108736,5.189608,5.127173,5.052336,5.041353,4.817972,...,4.771186,7.350282,4.797753,7.379213,4.972145,8.412256,4.998020,8.306931,5.120114,8.179218
Bank J,5.124649,5.324242,8.504242,5.001203,5.156527,5.226307,5.234375,5.125598,5.157324,4.873670,...,4.984917,7.582202,4.916540,7.581184,5.012160,8.312102,5.076785,8.292142,5.152302,8.125148
Bank K,4.737354,5.336245,8.407205,5.082177,5.228306,5.312815,5.275025,5.216942,5.202294,4.971154,...,4.945000,7.492500,4.857855,7.533666,5.106855,8.210685,5.094737,8.111579,5.164790,8.034800
Bank L,6.771183,5.065388,8.471229,4.635626,4.756472,4.949398,4.848777,4.708504,4.691670,4.695876,...,4.832444,7.455710,4.705755,7.453855,4.650781,8.249099,4.815745,8.209362,4.917864,8.135524
Bank M,6.154676,5.228797,8.289941,5.022312,5.116105,5.113383,5.057944,5.103053,5.036260,4.765182,...,4.824885,7.202765,4.816514,7.261468,5.041045,8.059701,4.966469,8.098619,5.128107,8.057361
Bank N,5.855274,5.442748,8.484957,5.212121,5.346615,5.433319,5.404443,5.321918,5.335798,5.044599,...,5.077897,7.507303,4.965585,7.575221,5.226543,8.269231,5.280451,8.214564,5.279844,8.122837
Bank O,6.790518,5.309756,8.550000,5.061078,5.171129,5.221719,5.221469,5.116705,5.155530,4.984655,...,4.984252,7.703412,4.916890,7.563003,5.023569,8.340067,5.059441,8.271562,5.109215,8.210466
Bank P,4.751724,5.321773,8.732177,5.037523,5.210145,5.246869,5.327986,5.317431,5.291280,4.859504,...,5.036364,7.786364,4.908257,7.862385,5.039356,8.465116,5.037523,8.422139,5.128205,8.415751
Bank Q,5.311558,5.233748,8.532503,4.885559,5.139108,5.121569,5.118336,5.053836,5.062927,4.841584,...,4.958478,7.384083,4.956835,7.417266,5.028534,8.346304,5.051560,8.310719,5.098143,8.194960

In [99]:
new_df

,Quest No,Age,Gender,Employment Category,Education,Income,Location,Bank,No of Years,Most frequently used Bank,...,Payint,Paycab,Mig1,Mig2,Mig3,Rec,Changeplan,FromBank,ToBank,ChangeReasons
0,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,1,12.0,1,...,No,No,No,No,No,Sometimes will,No,NaN,NaN,NaN
1,ABJ/2015/002/196,31-35,No Response,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Abuja,13,6.0,1,...,No,No,No,No,No,0,No,NaN,NaN,NaN
2,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,10,2.0,2,...,No,No,Yes,No,No,Absolutely will,No,NaN,NaN,NaN
3,KAN/2015/001/228,31-35,No Response,Self Employed,Bachelor's Decree,"Below N50,000",Kano,2,5.0,2,...,No,No,Yes,No,No,Often will,No,NaN,NaN,NaN
4,KAN/2015/04/061,21-30,Male,Private Sector Employee,Bachelor's Decree,"Below N50,000",Kano,3,5.0,3,...,Yes,No,Yes,No,No,Often will,No,NaN,NaN,NaN
5,KAN/2015/04/062,21-30,Male,Student,Secondary school leaving certificate,"Below N50,000",Kano,4,8.0,4,...,No,No,Yes,No,No,Often will,No,NaN,NaN,NaN
6,LAG/2015/001/153,18-20,Female,Student,Bachelor's Decree,"Below N50,000",Lagos,8,5.0,5,...,Yes,No,No,Yes,No,No Response,No,NaN,NaN,NaN
7,LAG/2015/001/153,18-20,Female,Student,Bachelor's Decree,"Below N50,000",Lagos,3,2.0,5,...,Yes,No,No,Yes,No,0,No,NaN,NaN,NaN
8,LAG/2015/001/153,18-20,Female,Student,Bachelor's Decree,"Below N50,000",Lagos,5,4.0,5,...,Yes,No,No,Yes,No,0,No,NaN,NaN,NaN
9,LAG/2015/001/153,18-20,Female,Student,Bachelor's Decree,"Below N50,000",Lagos,9,1.0,5,...,Yes,No,No,Yes,No,0,No,NaN,NaN,NaN
10,ABE/2015/002/051,18-20,Female,Student,OND/HND,No Response,Abeokuta,6,2.0,6,...,No,No,No,Yes,No,Absolutely will,No,NaN,NaN,NaN
11,ABE/2015/002/051,18-20,Female,Student,OND/HND,No Response,Abeokuta,10,3.0,6,...,No,No,No,Yes,No,0,No,NaN,NaN,NaN
12,ABE/2015/002/052,18-20,Female,Student,OND/HND,"Below N50,000",Abeokuta,3,1.0,3,...,No,No,No,Yes,No,Absolutely will,No,NaN,NaN,NaN
13,ABE/2015/002/053,21-30,Female,Student,OND/HND,"Below N50,000",Abeokuta,2,6.0,3,...,Yes,No,No,No,No,Absolutely will,No,NaN,NaN,NaN
14,ABE/2015/002/053,21-30,Female,Student,OND/HND,"Below N50,000",Abeokuta,3,2.0,3,...,Yes,No,No,No,No,Often will,No,NaN,NaN,NaN
15,ABE/2015/002/054,21-30,Female,Student,OND/HND,No Response,Abeokuta,3,1.0,3,...,Yes,No,No,No,No,Absolutely will,No,NaN,NaN,NaN
16,ABE/2015/002/054,21-30,Female,Student,OND/HND,No Response,Abeokuta,5,2.0,3,...,Yes,No,No,No,No,Absolutely will,No,NaN,NaN,NaN
19,ABE/2015/002/057,18-20,Female,Student,OND/HND,"Below N50,000",Abeokuta,8,2.0,7,...,No,No,No,No,No,Absolutely will,No,NaN,NaN,NaN
20,ABE/2015/002/059,21-30,Female,Student,OND/HND,"Below N50,000",Abeokuta,5,5.0,2,...,No,No,No,No,No,Absolutely will,No,NaN,NaN,NaN
21,ABE/2015/002/059,21-30,Female,Student,OND/HND,"Below N50,000",Abeokuta,2,5.0,2,...,No,No,No,No,No,Absolutely will,No,NaN,NaN,NaN
22,ABE/2015/002/060,18-20,Female,Student,OND/HND,"Below N50,000",Abeokuta,1,4.0,1,...,No,No,No,No,No,Absolutely will,No,NaN,NaN,NaN
23,ABE/2015/002/061,21-30,Male,Student,OND/HND,"Below N50,000",Abeokuta,2,2.0,2,...,No,No,No,Yes,No,No Response,No,NaN,NaN,NaN
24,ABE/2015/002/062,21-30,Female,Student,OND/HND,"Below N50,000",Abeokuta,3,5.0,3,...,No,No,No,No,No,Often will,No,NaN,NaN,NaN
25,ABE/2015/002/063,18-20,Male,Student,OND/HND,"Below N50,000",Abeokuta,8,2.0,8,...,No,No,No,No,No,Absolutely will,No,NaN,NaN,NaN
26,ABE/2015/002/063,18-20,Male,Student,OND/HND,"Below N50,000",Abeokuta,6,1.0,8,...,No,No,No,No,No,Absolutely will,No,NaN,NaN,NaN
27,ABE/2015/002/063,18-20,Male,Student,OND/HND,"Below N50,000",Abeokuta,14,2.0,8,...,No,No,No,No,No,Absolutely will,No,NaN,NaN,NaN
28,ABE/2015/002/064,21-30,Female,Self Employed,OND/HND,"Below N50,000",Abeokuta,3,1.0,3,...,No,No,No,No,No,Often will,No,NaN,NaN,NaN
29,ABE/2015/002/065,18-20,Female,Student,OND/HND,"Below N50,000",Abeokuta,4,6.0,4,...,No,No,No,No,No,Absolutely will,No,NaN,NaN,NaN
30,ABE/2015/002/066,21-30,Female,Others,No Response,"N50,000 - N100,000",Abeokuta,3,4.0,6,...,No,No,No,No,Yes,Sometimes will,No,NaN,NaN,NaN
31,ABE/2015/002/066,21-30,Female,Others,No Response,"N50,000 - N100,000",Abeokuta,6,8.0,6,...,No,No,No,No,Yes,Often will,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42623,YOL/2015/002/102,21-30,Male,Civil/Public Servant,Bachelor's Decree,"N101,000 - N250,000",Yola,3,4.0,3,...,No,Yes,Yes,No,No,Often will,No,NaN,NaN,NaN
42624,YOL/2015/002/102,21-30,Male,Civil/Public Servant,Bachelor's Decree,"N101,000 - N250,000",Yola,5,2.0,3,...,No,Yes,Yes,No,No,Absolutely will,No,NaN,NaN,NaN
42625,YOL/2015/002/103,36-40,Male,Civil/Public Servant,OND/HND,"N101,000 - N250,000",Yola,4,11.0,4,...,No,Yes,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42626,YOL/2015/002/103,36-40,Male,Civil/Public Servant,OND/HND,"N101,000 - N250,000",Yola,3,3.0,4,...,No,Yes,No,No,Yes,0,No,NaN,NaN,NaN
42627,YOL/2015/002/104,21-30,Female,Civil/Public Servant,OND/HND,"Below N50,000",Yola,10,11.0,2,...,No,Yes,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42628,YOL/2015/002/105,36-40,Male,Private Sector Employee,Bachelor's Decree,"N251,000 - N500,000",Yola,12,14.0,12,...,No,Yes,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42629,YOL/2015/002/106,31-35,Male,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Yola,3,13.0,3,...,No,Yes,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42630,YOL/2015/002/107,31-35,Female,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Yola,4,6.0,4,...,No,Yes,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42631,YOL/2015/002/108,21-30,Female,Self Employed,OND/HND,"Below N50,000",Yola,3,7.0,3,...,No,No,Yes,No,No,Absolutely will,No,NaN,NaN,NaN
42632,YOL/2015/002/109,21-30,Male,Civil/Public Servant,OND/HND,"Below N50,000",Yola,2,4.0,2,...,Yes,No,Yes,No,No,Absolutely will,No,NaN,NaN,NaN
42633,YOL/2015/002/110,41-60,Female,Civil/Public Servant,Master's Degree,"N251,000 - N500,000",Yola,4,12.0,4,...,No,No,Yes,No,No,Absolutely will,No,NaN,NaN,NaN
42634,YOL/2015/002/110,41-60,Female,Civil/Public Servant,Master's Degree,"N251,000 - N500,000",Yola,2,27.0,4,...,No,No,Yes,No,No,Absolutely will,No,NaN,NaN,NaN
42635,YOL/2015/002/111,31-35,Male,Civil/Public Servant,OND/HND,"Below N50,000",Yola,2,10.0,2,...,No,No,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42636,YOL/2015/002/112,31-35,Male,Civil/Public Servant,Bachelor's Decree,"N101,000 - N250,000",Yola,3,6.0,3,...,No,No,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42637,YOL/2015/002/113,18-20,Male,Private Sector Employee,Master's Degree,"N50,000 - N100,000",Yola,3,8.0,3,...,No,Yes,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42638,YOL/2015/002/114,Above 60,Female,Civil/Public Servant,OND/HND,"N101,000 - N250,000",Yola,3,9.0,3,...,No,Yes,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42639,YOL/2015/002/115,36-40,Female,Private Sector Employee,Bachelor's Decree,"N50,000 - N100,000",Yola,3,6.0,3,...,No,Yes,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42640,YOL/2015/002/116,21-30,Male,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Yola,6,3.0,6,...,No,Yes,Yes,No,No,Absolutely will,No,NaN,NaN,NaN
42641,YOL/2015/002/117,31-35,Male,Student,OND/HND,"N50,000 - N100,000",Yola,3,8.0,3,...,No,No,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42642,YOL/2015/002/118,21-30,Female,Unemployed,Bachelor's Decree,"Below N50,000",Yola,2,10.0,2,...,No,Yes,No,No,Yes,Often will,No,NaN,NaN,NaN
42643,YOL/2015/002/119,21-30,Male,Self Employed,OND/HND,"Below N50,000",Onitsha,3,7.0,3,...,No,Yes,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42644,YOL/2015/002/120,21-30,Female,Student,Bachelor's Decree,"Below N50,000",Onitsha,1,5.0,1,...,No,No,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42645,YOL/2015/002/121,31-35,Female,Civil/Public Servant,OND/HND,"Below N50,000",Yola,3,11.0,3,...,No,Yes,Yes,No,No,Absolutely will,No,NaN,NaN,NaN
42646,YOL/2015/002/122,Above 60,Male,Retired,OND/HND,"N50,000 - N100,000",Yola,13,21.0,13,...,No,No,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42647,YOL/2015/002/123,36-40,Male,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Yola,17,3.0,17,...,No,Yes,No,No,Yes,Sometimes will,No,NaN,NaN,NaN
42648,YOL/2015/002/124,36-40,Male,Self Employed,OND/HND,"N50,000 - N100,000",Yola,3,11.0,3,...,No,Yes,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42649,YOL/2015/002/125,36-40,Male,Civil/Public Servant,OND/HND,"N50,000 - N100,000",Yola,6,5.0,6,...,No,Yes,No,No,Yes,Absolutely will,No,NaN,NaN,NaN
42650,YOL/2015/002/059,18-20,Male,Self Employed,Bachelor's Decree,"N50,000 - N100,000",Yola,3,7.0,3,...,No,No,No,No,No,Absolutely will,No,NaN,NaN,NaN
42651,YOL/2015/002/034,31-35,Female,Civil/Public Servant,Bachelor's Decree,"Below N50,000",Yola,4,5.0,4,...,Yes,No,Yes,No,No,Absolutely will not,No,NaN,NaN,NaN
42652,YOL/2015/002/034,31-35,Female,Civil/Public Servant,Bachelor's Decree,"Below N50,000",Yola,6,4.0,4,...,Yes,No,Yes,No,No,Often will,No,NaN,NaN,NaN

In [137]:
colsyesorno =  ("ATMproximity", "ATMqon", "ATMsecurity", "ATMros", "Device1", "Device2", "Device3", "Device4")

In [138]:
value = {"Yes" : 1, "No":0}

In [139]:
yesorno_encoded = {k:value for k in colsyesorno}

In [140]:
yesorno_encoded

{'ATMproximity': {'No': 0, 'Yes': 1},
 'ATMqon': {'No': 0, 'Yes': 1},
 'ATMros': {'No': 0, 'Yes': 1},
 'ATMsecurity': {'No': 0, 'Yes': 1},
 'Device1': {'No': 0, 'Yes': 1},
 'Device2': {'No': 0, 'Yes': 1},
 'Device3': {'No': 0, 'Yes': 1},
 'Device4': {'No': 0, 'Yes': 1}}

In [141]:
new_df.replace(yesorno_encoded, inplace=True)

In [148]:
frequencyvalues = {'Never' : 0, 'Rarely' : 0.5, 'At least once a week':7, 'Monthly':1, 'No Response':float('nan'),
       'At Least once a day': 30}
frequencycols = ("FreqBra", "FreqATM", "FreqPOS", "FreqInt", "FreqMob", "FreqUSSD", "FreqTel")
frequency_encoded_values = {k:frequencyvalues for k in frequencycols}

In [151]:
frequency_encoded_values
new_df.replace(frequency_encoded_values, inplace=True)
new_df.replace({"Changeplan": {'No': 0, 'Yes': 1}}, inplace=True)

In [117]:
yesorno = {"Changeplan","Payuticash","Payintcash","Paycabcash","Payuti","Payint","Paycab","Mig1","Mig2","Mig3", "RatQOS", "RatFS", "RatIR", "RatERSA","RatPOBR","RatRFF"}

,Bank,No of Years,Most frequently used Bank,MostfreqATM,impcc1a,cc1a,impcc1b,cc1b,impcc2,cc2,...,Paycabcash,Payuti,Payint,Paycab,Mig1,Mig2,Mig3,Changeplan,FromBank,ToBank
count,38839.000000,38839.000000,38839.000000,36845.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,...,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,4113.000000,3937.000000
mean,6.294292,6.076753,5.856793,5.764093,6.796184,4.448364,7.415433,4.745745,7.604161,4.929504,...,0.163882,0.120317,0.304153,0.194186,0.439275,0.186514,0.173254,0.107753,7.081692,5.994412
std,4.544237,4.706729,4.424433,4.423101,3.292512,1.916965,2.931220,1.771212,2.767825,1.643343,...,0.370173,0.325336,0.460054,0.395578,0.496305,0.389526,0.378471,0.310072,4.784016,4.446723
min,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,3.000000,3.000000,2.000000,2.000000,5.000000,4.000000,6.000000,4.000000,6.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
50%,4.000000,5.000000,4.000000,4.000000,8.000000,5.000000,8.000000,5.000000,8.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000
75%,10.000000,8.000000,8.000000,8.000000,10.000000,6.000000,10.000000,6.000000,10.000000,6.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,12.000000,8.000000
max,17.000000,55.000000,17.000000,17.000000,10.000000,7.000000,10.000000,7.000000,10.000000,7.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,17.000000,17.000000

In [135]:
new_df.describe()

,Bank,No of Years,Most frequently used Bank,RatQOS,RatFS,RatIR,RatERSA,RatPOBR,RatRFF,MostfreqATM,...,Paycabcash,Payuti,Payint,Paycab,Mig1,Mig2,Mig3,Changeplan,FromBank,ToBank
count,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,36845.000000,...,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,4113.000000,3937.000000
mean,6.294292,6.076753,5.856793,0.329488,0.142769,0.103659,0.097917,0.108087,0.100028,5.764093,...,0.163882,0.120317,0.304153,0.194186,0.439275,0.186514,0.173254,0.107753,7.081692,5.994412
std,4.544237,4.706729,4.424433,0.470033,0.349841,0.304821,0.297206,0.310495,0.300042,4.423101,...,0.370173,0.325336,0.460054,0.395578,0.496305,0.389526,0.378471,0.310072,4.784016,4.446723
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,3.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
50%,4.000000,5.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000
75%,10.000000,8.000000,8.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,12.000000,8.000000
max,17.000000,55.000000,17.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,17.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,17.000000,17.000000

In [152]:
new_df.columns[new_df.isnull().any()].tolist()

['FreqBra',
 'FreqATM',
 'FreqPOS',
 'FreqInt',
 'FreqMob',
 'FreqUSSD',
 'FreqTel',
 'MostfreqATM',
 'FromBank',
 'ToBank',
 'ChangeReasons']

In [153]:
new_df.describe()

,Bank,No of Years,Most frequently used Bank,RatQOS,RatFS,RatIR,RatERSA,RatPOBR,RatRFF,FreqBra,...,Paycabcash,Payuti,Payint,Paycab,Mig1,Mig2,Mig3,Changeplan,FromBank,ToBank
count,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,36439.000000,...,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,38839.000000,4113.000000,3937.000000
mean,6.294292,6.076753,5.856793,0.329488,0.142769,0.103659,0.097917,0.108087,0.100028,3.638382,...,0.163882,0.120317,0.304153,0.194186,0.439275,0.186514,0.173254,0.107753,7.081692,5.994412
std,4.544237,4.706729,4.424433,0.470033,0.349841,0.304821,0.297206,0.310495,0.300042,6.372140,...,0.370173,0.325336,0.460054,0.395578,0.496305,0.389526,0.378471,0.310072,4.784016,4.446723
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,3.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
50%,4.000000,5.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000
75%,10.000000,8.000000,8.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,12.000000,8.000000
max,17.000000,55.000000,17.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,30.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,17.000000,17.000000

In [147]:
1/0

ZeroDivisionError: division by zero

In [150]:
import math
math.nan

nan

In [166]:
#channelvalues = {'ATM' : 1, 'Branch' : 2, 'No Response':float('nan'), 'Internet/Mobile Banking' : 3,'Mobile payments' : 4, 'Socia Media' : 5, 'POS' : 6, 'Call Center' : 7}
#channelcols = ("Cshwit","Cshdep","Fndtrf","Balenq","Mkgcmp","Mkgpay","Gtloan","Gtfnad","Bkfxdp","Cshwit2","Cshdep2","Fndtrf2","Balenq2","mkgcmp2","Mkgpay2","Gtloan2","Gtfnad2","Bkfxdp2")
#channel_encoded = {k:channelvalues for k in channelcols}
#channel_encoded

channelvalues = {"Video Banking" : 8}
channelcols = ("Cshwit2","Cshdep2","Fndtrf2","Balenq2","mkgcmp2","Mkgpay2","Gtloan2","Gtfnad2","Bkfxdp2")
channel_encoded = {k:channelvalues for k in channelcols}
channel_encoded

{'Balenq2': {'Video Banking': 8},
 'Bkfxdp2': {'Video Banking': 8},
 'Cshdep2': {'Video Banking': 8},
 'Cshwit2': {'Video Banking': 8},
 'Fndtrf2': {'Video Banking': 8},
 'Gtfnad2': {'Video Banking': 8},
 'Gtloan2': {'Video Banking': 8},
 'Mkgpay2': {'Video Banking': 8},
 'mkgcmp2': {'Video Banking': 8}}

In [167]:
new_df.replace(channel_encoded, inplace=True)

In [158]:
new_df.replace({"Rec" : {'Sometimes will' : 0.5 , '0' : 0, 'Absolutely will' : 2 , 'Often will' : 1 ,
       'No Response' : float('nan'), 'Absolutely will not' : 0}}, inplace=True)

In [159]:
new_df.columns[new_df.isnull().any()].tolist()

['FreqBra',
 'FreqATM',
 'FreqPOS',
 'FreqInt',
 'FreqMob',
 'FreqUSSD',
 'FreqTel',
 'MostfreqATM',
 'Cshwit',
 'Cshdep',
 'Fndtrf',
 'Balenq',
 'Mkgcmp',
 'Mkgpay',
 'Gtloan',
 'Gtfnad',
 'Bkfxdp',
 'Cshwit2',
 'Cshdep2',
 'Fndtrf2',
 'Balenq2',
 'mkgcmp2',
 'Mkgpay2',
 'Gtloan2',
 'Gtfnad2',
 'Bkfxdp2',
 'Rec',
 'FromBank',
 'ToBank',
 'ChangeReasons']

In [169]:
for column in new_df.columns:
    new_df[column].fillna(new_df[column].mode()[0], inplace=True)

In [170]:
new_df.columns[new_df.isnull().any()].tolist()

[]